.homeimage  {
    text-align: center;
    background-image: url('./background\ image.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.agency     {
    /* border: 2px solid black; */
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
.clients    {
    /* border: 2px solid black; */
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    text-align: center;
}
.feature h1    {
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-weight: bold;
}
.card-group   {
    /* border: 2px solid black; */
    width: 70%;
    margin: 0px auto;
}
.offer h1    {
    text-align: center;
    margin: 50px 0px 50px 0px;
    font-weight: bold;
}

.card-body1 h5   {
    margin: 20px 0px 10px 0px;
}
.card-body1 p  {
    font-size: 19px;
    color: rgb(156, 151, 151);
    padding-left: 60px;
}

